/* global.css o App.css */
html, body, #root {
  height: 100%;          /* Para que el fondo cubra toda la pantalla */
  margin: 0;
  padding: 0;
  background-color: #fffae5; /* tu color deseado */

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}